rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      allow read: if true;
      allow write: if request.auth != null && request.auth.uid == userId;
    }
    match /adminClients/{clientId} {
      allow read, write: if request.auth != null; 
    }
    match /partnerClients/{clientId} {
      allow read, write: if request.auth != null; 
    }
    match /aiPayrollClients/{clientId}/{document=**} {
      allow read, write: if request.auth != null;
    }
    match /clients/{clientId} {
      allow read, write: if request.auth != null; 
    }
    match /services/{serviceId} {
      allow read: if true;
      allow write: if request.auth != null; 
    }
    match /orders/{orderId} {
      allow read, write: if true; 
    }
    match /blogPosts/{postId} {
      allow read: if true;
      allow write: if request.auth != null;
    }
    match /categories/{categoryId} {
      allow read: if true;
      allow write: if request.auth != null;
    }
    match /tasks/{taskId} {
      allow read, write: if request.auth != null;
    }
    match /sequences/{sequenceId} {
      allow read, write: if true;
    }
     match /discounts/{discountId} {
      allow read, write: if request.auth != null;
    }
     match /complianceRequests/{requestId} {
      allow read, write: if request.auth != null;
    }
    match /aiAccountantClients/{clientId}/{document=**} {
      allow read, write: if request.auth != null;
    }
     match /numeraClients/{clientId}/{document=**} {
      allow read, write: if request.auth != null;
    }
    match /extractedInvoices/{invoiceId} {
      allow read, write: if request.auth != null;
    }
     match /processedEmails/{emailId} {
      allow read, write: if request.auth != null;
    }
    match /allocationRules/{ruleId} {
      allow read: if request.auth != null;
      allow write: if request.auth != null; 
    }
    match /unansweredQuestions/{questionId} {
      allow read, write: if request.auth != null;
    }
    match /cvLeads/{leadId} {
      allow read: if request.auth != null;
      allow write: if true; 
    }
    match /demoLeads/{leadId} {
      allow read: if request.auth != null;
      allow write: if true; 
    }
  }
}
